<!DOCTYPE html>
<html>
  <head>
    <title>Honeydukes</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <ul class="nav">
      <li>@Html.ActionLink("Home", "Index", "Home")</li>
      <li>@Html.ActionLink("Flavours", "Index", "Flavors")</li>
      <li>@Html.ActionLink("Treats", "Index", "Treats")</li>
      <div class="nav-greeting">
      @if (User.Identity.IsAuthenticated)
      {
        @using (Html.BeginForm("LogOff", "Account"))
        {
          <li><input type="submit" value="Log out" class="btn navbtn"/></li>
        }
        <li class="hello">Welcome @User.Identity.Name!</li>
      }
      else
      {
         @using (Html.BeginForm("Login", "Account", "Login"))
          {
            <li><button class="btn navbtn">@Html.ActionLink("Log in", "Login", "Account")</button></li>
          }
        <li class="hello">Greetings Muggle!</li>
      }
      </div>
    </ul>
    <img src="~/img/logo.jpg" class="logo")>
    <div class="box home">
      <button>@Html.ActionLink("Create Account", "Register", "Account")</button>
      <button>@Html.ActionLink("Login", "Login", "Account")</button>
    </div>
  </body>
</html>