@{
  Layout = "_Layout";
}

@model Honeydukes.Models.Flavor

<h2>@Html.DisplayFor(model => model.Name)</h2>
<p>@Html.ActionLink("Reparo", "Edit", new { id = Model.FlavorId }) @Html.ActionLink("Reducto", "Delete", new { id = Model.FlavorId })</p>


@if(@Model.Treats.Count == 0)
{
  <h4>No treats in @Html.DisplayFor(model => model.Name)</h4>
}
else
{
  <h3>Available Treats</h3>
  @foreach(var join in Model.Treats)
  {
    <p>@Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new { id = join.Treat.TreatId})</p>
  }
}

<button>@Html.ActionLink("Accio Treat", "Create", "Treats")</button>
<br>
<button>@Html.ActionLink("Back to Flavours", "Index")</button>